{% extends "base-blackjack.html.twig" %}

{% block title %}BlackJack{% endblock %}

{% block body %}
<div class="main">

{{ include('flash.html.twig') }}

<p class="intro-p">
    This is a school project for the course <a href="https://dbwebb.se/kurser/mvc-v2">mvc</a> at Blekinge Institute of Technology. The project is a simple implementation of a BlackJack card game. The project is built with object oriented PHP, Symfony, and Twig.
</p>
<p class="intro-p">
    Unit tests have been implemented to ensure the game's logic is functioning as expected. The project also demonstrates the use of MVC architecture, promoting a well-structured and maintainable codebase.
</p>

</div>
{% endblock %}