{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="main">
<h1>Game 21 Documentation</h1>
{{ include('flash.html.twig') }}

<h2>The Idea of the Game</h2>
<p>
    <strong>Twenty-one</strong> is a card game that serves as the Swedish counterpart to the globally known game Blackjack. The key distinctions between these games lie in the card values and the gameplay setup. In twenty-one, the banker plays against one player at a time, unlike in Blackjack, where the dealer competes against all players simultaneously. Both games trace their roots back to vingt-et-un, played at the French court in the 18th century.
</p>
<p>
    The objective of the game is to achieve a total card value of 21 or get as close as possible without exceeding this limit, using two or more cards. Aces can be worth either 1 or 14 points, kings are worth 13, queens 12, and jacks 11. Number cards hold the same value as their face value.
</p>

<h2>Components</h2>
<p>
The game is built around four classes:
</p>
<p>
<strong>Card</strong> makes up a single card.
</p>
<p>
<strong>DeckOfCards</strong> is responsible for the functionality of the deck populated by Card objects.
</p>
<p>
<strong>CardHand</strong> holds a hand of cards, drawing from the deck.
</p>
<p>
<strong>Game21</strong> handles the game logic.
</p>

<h2>Flowchart</h2>

<img class="stand-alone no-border" src="{{ asset('img/cardgame-flowchart.svg') }}" alt="Flowchart" width="60%">

<h2>Pseudocode</h2>

<pre>
    <code>
Game start
  Initialize DeckOfCards and CardHand objects (playerHand and bankHand)
  Shuffle DeckOfCards
  Player draws 1 card from DeckOfCards
  Display playerHand value

FUNCTION hitOrStand()
  Ask player to choose between hit or stand
  IF playerChoice == hit THEN
    playerHand draws 1 from DeckOfCards
    Display playerHand value
    IF playerHand > 21 THEN
      Display "Player is bust. Bank wins"
      End game
    ELSE
      Call hitOrStand()
    ENDIF
  ELSE IF playerChoice == stand THEN
    WHILE bankHand < 21 DO
      bankHand draws 1 from DeckOfCards
    ENDWHILE
    IF bankHand == 21 THEN
      Display "Bank hits 21. Bank wins"
      End game
    ELSEIF bankHand > 21 THEN
      Display "Bank is bust. Player wins"
      End game
    ELSE
      IF bankHand < playerHand THEN
        Display "Player's hand is closer to 21. Player wins"
        End game
      ELSE
        Display "Bank's hand is closer to 21 or equal. Bank wins"
        End game
      ENDIF
    ENDIF
  ENDIF
ENDFUNCTION

Call hitOrStand()
    </code>
</pre>

</div>

{% endblock %}