{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
<div class="main">
<h1>Game 21 [START]</h1>

<form method="post" action="">
    <input type="submit" name="do_it" value="Start game">
</form>
</div>
{% endblock %}