{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block body %}
<div class="main">
    <h1>APIs</h1>
    <div class="api-grid">
        <a href="api/quote">
        <div class="api-container">
            <h2>quote</h2>
            <p>Get a random quote</p>
        </div>
        </a>
    </div>
</div>
{% endblock %}