{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block body %}
<div class="main">
    <h1>APIs</h1>
    <div class="api-grid">
        <div class="api-container">
        <a href="api/quote">
            <h3>/quote</h3>
        </a>
            <p>Returns a random quote.</p>
        </div>
        <div class="api-container">
        <a href="api/deck">
            <h3>/deck</h3>
        </a>
            <p>Returns a sorted deck of cards as a JSON object.</p>
        </div>
        <div class="api-container">
            <form id="shuffleForm" class="api-link" action="{{ path('deck_shuffle') }}" method="POST">
                <a href="#" onclick="document.getElementById('shuffleForm').submit();"><h3>/deck/shuffle</h3></a>
            </form>
            <p>Returns a shuffled deck of cards as a JSON object.</p>
        </div>
        <div class="api-container">
            <form id="drawForm" class="api-link" action="{{ path('deck_draw') }}" method="POST">
                <a href="#" onclick="document.getElementById('drawForm').submit();"><h3>/deck/draw
                </h3></a>
            </form>
            <p>Draws a card from deck, returns the card and the count of remaining cards.</p>
        </div>
        <div class="api-container">
            <form id="drawNumberForm" class="api-link" action="{{ url('deck_draw_number', {'num': 0}) }}" method="POST" onsubmit="updateAction(this)">
                <h3 class="api-link">/deck/draw/:number</h3>
                <div class="submit-container">
                    <h3 class="form-h3">/deck/draw/</h3>
                    <input type="number" id="numInput" name="num" min="1" value="4">
                    <input class="api-submit" type="submit" value="Submit">
                </div>
            </form>
            <script>
            function updateAction(form) {
                var num = document.getElementById('numInput').value;
                form.action = form.action.replace('/0', '/' + num);
            }
            </script>
            <p>Draws given number of cards from deck, returns them and the count of remaining cards.</p>
        </div>
        <div class="api-container">
            <a href="api/game">
                <h3>/game</h3>
            </a>
            <p>Returns current card game standings as a JSON object.</p>
        </div>
    </div>
</div>
{% endblock %}
