{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="main">
    <h1>August Levinson</h1>
    <div class="presentation">
        <div class="p-wrapper">
            <p>
                I study <a href="https://dbwebb.se/">fullstack web development</a> at Blekinge Institute of Technology. For the past eight years I have worked as a teacher and IT coordinator at a upper secondary school. For many years I've dabbled in web programming and for a while now had a wish to deepen my knowledge. This year it was time to commit to it, so here I am. It's a fast paced curriculum and I learn a lot every week.
            </p>
            <p>
                When I'm not building websites I enjoy playing basketball, going for gravel bike rides and spending time with friends and family.
            </p>
        </div>
            <img src="{{ asset('img/face.jpg') }}" alt="" width="100%">
    </div>
</div>
{% endblock %}
