{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="main">
    <h1>Report</h1>
    <section id="kmom01">
        <a href="#kmom01"><h2>kmom01</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    <section id="kmom02">
        <a href="#kmom02"><h2>kmom02</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    <section id="kmom03">
        <a href="#kmom03"><h2>kmom03</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    <section id="kmom04">
        <a href="#kmom04"><h2>kmom04</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    <section id="kmom05">
        <a href="#kmom05"><h2>kmom05</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    <section id="kmom06">
        <a href="#kmom06"><h2>kmom06</h2></a>
        <p>
            Report text here.
        </p>
    </section>
    
</div>
{% endblock %}